{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Deny",
            "Action": [
                "sns:Publish"
            ],
            "NotResource": "arn:aws:sns:${aws_region}:${aws_account_id}:${environment}${project}"
        },
        {
            "Effect": "Allow",
            "Action": [
                "sns:Publish"
            ],
            "Resource": "arn:aws:sns:${aws_region}:${aws_account_id}:${environment}${project}"
        },
        {
            "Effect": "Allow",
            "Action": [
                "ssm:GetParameter"
            ],
            "Resource": "arn:aws:ssm:${aws_region}:${aws_account_id}:parameter/${project}_topic_endpoint"
        }
    ]
}
